/* Import Google font - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

.current-weather img {
  max-width: 120px;
  margin-top: -15px;
}

.shitHistory{
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.6);
  background-color: #16c76e;
  max-width: 10rem;
}
  .historyContainer{
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }